:root {
    --principal: #5e60ce;
    --claro: #FFFFFF;
    --oscuro: #141314;
    --gris: #e0e1dd;
}



.contact-conteiner {
    width: 80%;
    margin: auto;

}

.contact-formulario {
    box-shadow: 3px 0px navy;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    -gap: 30px;
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.305);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    
}

.contact-title {
    font-family: 'Orbitron';
    font-weight: 200;
    color: var(--oscuro);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.formulario__label {
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0.5em 0.5em 0 0.5em;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: pointer;
    color: var(--oscuro);
    font-size: 20px;
}

.formulario__input {
    border: 3px solid transparent;
    line-height: 25px;
    transition: 0.3s ease all;
    background: #ededed;
    width: 100%;
    padding: 0.5em;
    border-radius: 7px;
    resize: vertical;
    margin-top: 5px;
}

textarea {
    min-height: 100px;
    font-size: 0.9em;
}

.formulario__input:focus {
    border: 1px solid #0303032d;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.1);
}

.formulario__grupo,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
    padding: .6rem;

}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.formulario__btn {
    background: #5e60ce;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    transition: 0.1s ease all;
}